<div class = "jumbotron">
  <center>
    <h1>Welcome to Josh's Pizza Shack</h1>
    
    <img src = "http://blog.nj.com/hobokennow_impact/2009/03/large_mariopizza.jpg">
    <br>
    
    <%= link_to "Check out our pizzas!",
    pizzas_path, class: "btn btn-default" %>
   
  </center>
</div>
   